/*Fonts*/
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"),
		 url("../fonts/roboto.woff2") format("woff2"),
		 url("../fonts/roboto.woff") format("woff"); 
}
  @font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"),
		 url("../fonts/robotomedium.woff2") format("woff2"), 
		 url("../fonts/robotomedium.woff") format("woff"); 
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"),
		 url("../fonts/robotobold.woff2") format("woff2"), 
		 url("../fonts/robotobold.woff") format("woff"); 
}

/*Root*/
:root {
	--black: #000000;
	--dark-pink-grey: #231F20;
	--dark-blue-grey: #283136;
	--darker-grey: #444444;
	--darker-grey-red: #4D4D4D;
	--dark-grey: #666666;
	--grey: #888888;
	--lite-grey: #A6A6A6;
	--white-grey: #D5D5D5;
	--lite-white-grey: #DFDFDF;
	--liter-white-grey: #EEEEEE;
	--white: #FFFFFF;
	--transparent-black: rgba(0, 0, 0, 0.1);
	--red: #FB565A;
	--dark-red: #E74246;
	--darker-red: #D7373B;
	--green: #00CA74;
	--dark-green: #00BC6C;
	--darker-green: #00AA62;
	--yellow: #EFC849;
	--dark-yellow: #EAB534;
	--darker-yellow: #E5A722;

}

/*Styles*/
.page-body {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: var(--dark-blue-grey);
	background-color: var(--white);
}

.page-body a {
	text-decoration: none;
}

.clear-list {
	list-style: none;
}

.main-header, 
.carousel {
	background-color: var(--liter-white-grey);
}
 
.main-navigation a {
	color: var(--black);
	font-weight: 500;
	line-height: 30px;
	text-transform: uppercase;
}

.button {
	color: var(--white);
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
}

.carousel-caption {
	color: var(--black);
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
}

.products-list {
	text-align: center;
}

.products-item h3 {
	font-size: 24px;
	line-height: 30px;
	color: var(--black);
	text-transform: uppercase;
}

.about-us-caption {
	font-size: 45px;
	line-height: 45px;
	color: var(--black);
}

.order-caption {
	font-weight: 700;
}

.about-us-caption-feature {
	font-weight: 700;
	color: var(--black);
}

.partners-item {
	text-align: center;
}

.footer-map {
	background-color: var(--white);
	color: var(--dark-grey);
	font-size: 16px;
	line-height: 18px;
}

.write-us-phone {
	color: var(--dark-grey);
	text-decoration: none;
	font-size: 16px;
	line-height: 18px;
}

.footer-caption-friendship {
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
	color: var(--black);
}

.footer-caption-discount {
	font-size: 16px;
	line-height: 22px;
	color: var(--darker-grey);
}
