/*Fonts*/
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"),
		 url("../fonts/roboto.woff2") format("woff2"),
		 url("../fonts/roboto.woff") format("woff"); 
}
  @font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"),
		 url("../fonts/robotomedium.woff2") format("woff2"), 
		 url("../fonts/robotomedium.woff") format("woff"); 
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"),
		 url("../fonts/robotobold.woff2") format("woff2"), 
		 url("../fonts/robotobold.woff") format("woff"); 
}

/*Variables*/
:root {
	--black: #000000;
	--dark-pink-grey: #231F20;
	--dark-blue-grey: #283136;
	--darker-grey: #444444;
	--darker-grey-red: #4D4D4D;
	--dark-grey: #666666;
	--grey: #888888;
	--lite-grey: #A6A6A6;
	--grey-white: #C1C1C1;
	--white-grey: #D5D5D5;
	--lite-white-grey: #DFDFDF;
	--lite-white-grey-button: #E1E1E1;
	--liter-white-grey: #EEEEEE;
	--white: #FFFFFF;
	--transparent-black: rgba(0, 0, 0, 0.1);
	--red: #FB565A;
	--dark-red: #E74246;
	--darker-red: #D7373B;
	--green: #00CA74;
	--dark-green: #00BC6C;
	--darker-green: #00AA62;
	--yellow: #EFC849;
	--dark-yellow: #EAB534;
	--darker-yellow: #E5A722;

}

/*Global*/
.page-body {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: var(--dark-blue-grey);
	background-color: var(--white);
}

.center {
	width: 1160px;
	margin: 0 auto;
}

.visually-hidden {
	position: absolute;
  	clip: rect(0 0 0 0);
  	width: 1px;
  	height: 1px;
  	margin: -1px;
}

.page-body a {
	text-decoration: none;
}

.clear-list {
	list-style: none;
	margin: 0;
	padding: 0;	
}

/*Grid*/
.page {
	height: 100%;
}

.page-body {
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

/*Main navigation*/
.main-navigation {
	display: grid;
	grid-template-columns: min-content 1fr;
	margin-top: 49px;
}

.main-navigation a {
	color: var(--black);
	font-weight: 500;
	line-height: 30px;
	text-transform: uppercase;
}

.main-navigation .main-header-logo {
	line-height: 0px;
}

.main-header-bar {
	display: grid;
	grid-template-columns: 1fr 115px;
}

.site-navigation {
	width: 437px;
	margin-left: 200px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.site-navigation li {
	margin-right: 45px;
}

.site-navigation li:nth-child(4n) {
	margin-right: 0;
}

.basket-navigation {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.basket {
	position: relative;
}

.basket::before {
	content: "";
	position: absolute;
	top: 6px;
	left: -35px;
	width: 15px;
	height: 15px;
	background-image: url(../img/cart-icon.svg);
}

.site-navigation a:hover,
.basket:hover {
	color: var(--red);
}

.site-navigation a:active,
.basket:active {
	color: var(--black);
	opacity: 0.3;
}

/*Heading*/
.main-header, 
.carousel,
.heading {
	background-color: var(--liter-white-grey);
}

.carousel-caption,
.heading-caption {
	color: var(--black);
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	margin: 0;
}

.heading-caption {
	text-align: center;
	padding-top: 72px;
	padding-bottom: 108px;
}

/*Carousel*/
.slider {
	position: relative;
}

.slide {
	display: none;
}

.slide-current {
	display: block;
}

.slider-controls {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-45px, 150px);
	display: flex;
  	min-width: 88px;
  	justify-content: space-between;
}

.slider-controls button {
	position: relative;
	padding: 0;
	width: 18px;
	height: 18px;
	background-color: var(--white);
	border: none;
	border-radius: 50%;
	cursor: pointer;
}

.current::after {
	content: "";
	position: absolute;
	top: 29%;
	left: 28%;
	box-sizing: border-box;
	width: 8px;
	height: 8px;
	background-color: transparent;
	border: 2px solid var(--grey-white);
	border-radius: 50%; 
}

.carousel .center {
	padding-bottom: 95px;
	background-repeat: no-repeat;
	background-position: bottom right;
}

.slider-image-1 {
	background-image: url(../img/nerds-index-slide_1.png);
}

.slider-image-2 {
	background-image: url(../img/nerds-index-slide_2.png);
}

.slider-image-3 {
	background-image: url(../img/nerds-index-slide_3.png);
}

.carousel-caption {
	padding-top: 78px;
	margin-bottom: 25px;
	width: 538px;
}

.carousel-text {
	width: 400px;
	margin-top: 0;
	margin-bottom: 55px;
}

.button-learn-more {
	background-color: var(--red);
	padding: 17px 54px;
	border-radius: 3px;
}

.button-learn-more:hover,
.button-write-us:hover,
.order-button-red:hover,
.modal-button:hover {
	background-color: var(--dark-red);
}

.button-learn-more:active,
.button-write-us:active,
.order-button-red:active,
.modal-button:active {
	background-color: var(--darker-red);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/*Buttons*/
.button {
	color: var(--white);
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
}

.button:active span {
	opacity: 0.3;
}

.control-item a {
	color: var(--black);
	line-height: 18px;
}
	
.control-text a {
	color: var(--black);
}

/*Services*/
.services {
	margin: 80px 0;
}

.services-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 100px;
	margin-right: 60px;
}

.services-item {
	padding-top: 146px;
}

.sites {
	background-image: url(../img/web_sites.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.apps {
	background-image: url(../img/apps.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.presentations {
	background-image: url(../img/presentations.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.services-item h3 {
	font-size: 24px;
	line-height: 30px;
	color: var(--black);
	text-align: left;
	text-transform: uppercase;
	margin: 25px 0 16px;
}

.services-item p {
	width: 260px;
	text-align: left;
	margin-top: 0;
	margin-bottom: 47px;
}

.order-button-red,
.order-button-green,
.order-button-yellow {
	padding: 17px 39px;
	border-radius: 3px;
}

.order-button-red {
	background-color: var(--red);
}

.order-button-green {
	background-color: var(--green);
}

.order-button-green:hover {
	background-color: var(--dark-green);
}

.order-button-green:active {
	background-color: var(--darker-green);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.order-button-yellow {
	background-color: var(--yellow);
}

.order-button-yellow:hover {
	background-color: var(--dark-yellow);
}

.order-button-yellow:active {
	background-color: var(--darker-yellow);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/*Products*/
.catalog-main-grid {
	display: grid;
	grid-template-columns: 260px 1fr;
	grid-template-rows: 1fr;
	column-gap: 140px;
	padding-top: 55px;
	margin-bottom: 60px;
}

.sort-bar {
	display: flex;
	align-items: baseline;
	margin-bottom: 48px;
}

.sort-bar .filter-caption {
	margin-right: auto;
}

.sort-list {
	display: flex;
	align-items: center;
}

.button-sort {
	width: 42px;
}

.sort-list-item {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	margin-right: 25px;
	opacity: 0.3;
}

.sort-list-item:first-child {
	opacity: 1;
}

.sort-list-item:last-child {
	margin-right: 0;
}

.products-list {
	display: grid;
	grid-template-columns: min-content min-content;
	gap: 30px 40px;
	margin-bottom: 54px;
}

/*Filter*/
.form-filter {
	outline: 5px solid rgba(255, 0, 0, 0.7);
	outline-offset: -5px;
}

.filter-caption {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--black);
	margin: 0;
}

.form-filter .filter-caption {
	margin-bottom: 48px;
}

/*About us*/
.about-us {
	display: grid;
	grid-template-columns: 660px max-content;
	grid-template-rows: 208px 1fr;
	gap: 37px 140px;
	padding: 40px 0 75px 0;
	border-top: 2px solid var(--liter-white-grey);
}

.about-us-caption {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: var(--black);
	margin: 34px 0 32px;
}

.about-us-text {
	margin: 0;
}

.illustration {
	background-image: url(../img/nerds-illustration.png);
	background-repeat: no-repeat;
}

.order-caption {
	margin: 0;
	margin-bottom: 23px;
	font-weight: 700;
	text-transform: uppercase;
}

.about-us-orders-item {
	position: relative;
	margin-bottom: 30px;
	margin-left: 37px;
}

.about-us-orders-item:last-child {
	margin-bottom: 0;
}

.about-us-orders-item::before {
	content: "";
	position: absolute;
	left: -37px;
	top: 11px;
	width: 25px;
	border-top: 2px solid var(--red);
}

.about-us-caption-feature {
	margin: 0;
	margin-bottom: 31px;
	font-weight: 700;
	color: var(--black);
	text-transform: uppercase;
	text-align: center;
}

.about-us-list {
	width: 360px;
	display: grid;
	grid-template-columns: min-content min-content min-content;
	grid-template-rows: min-content min-content;
	gap: 20px 20px;
}

.about-us-item {
	grid-row: 2;
	font-size: 16px;
	line-height: 18px;
	margin: 0;
}

.about-us-item-value {
	color: var(--black);
	font-weight: 700;
	font-size: 45px;
	line-height: 64px;
	margin: 0;
}

.about-us-item-sup {
	color: var(--black);
	font-weight: 700;
	font-size: 26px;
	line-height: 40px;
	margin: 0;
}

/*Partners*/
.partners-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.partners .center {
	padding: 45px 0;
	margin-bottom: 80px;
	border-top: 2px solid var(--liter-white-grey);
	border-bottom: 2px solid var(--liter-white-grey);
}

.partners-item {
	position: relative;
}

.partners-item:not(:last-child)::after {
	content: "";
	position: absolute;
	left: 290px;
	bottom: 20px;
	height: 52px;
	border-right: 2px solid var(--liter-white-grey);
}

.partners-item,
.partners-logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.partners-logo {
	opacity: 0.2;
}

.partners-logo:hover {
	opacity: 1;
}

.partners-logo:active,
.main-header-logo:active {
	opacity: 0.1;
}

/*Pagination*/
.control-list {
	display: flex;
	align-items: baseline;
}

.control-item:not(:last-child) {
	margin-right: 11px;
}

/*Main footer*/
.main-footer {
	margin-bottom: 68px;
}
.footer-map {
	position: relative;
	padding: 54px 0;
	box-sizing: border-box;
}

.map {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-width: 100%;
	height: auto;
	z-index: 1;
}

.footer-map::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(104px, -125px);
	width: 231px;
	height: 190px;
	background-image: url(../img/map-marker.png);
	z-index: 3;
}

/*Write us*/
.write-us {
	position: relative;
	width: 219px;
	background-color: var(--white);
	color: var(--dark-grey);
	font-size: 16px;
	line-height: 18px;
	padding: 49px 50px 47px;
	z-index: 2;
}

.write-us-caption {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	color: var(--black);
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 23px;
}

.write-us-text {
	margin-top: 0;
	margin-bottom: 18px;
}

.write-us-phone-text {
	margin-top: 0;
	margin-bottom: 54px;
}

.write-us-phone {
	color: var(--dark-grey);
	font-size: 16px;
	line-height: 18px;
}

.button-write-us {
	background-color: var(--red);
	padding: 17px 44px;
	border-radius: 3px;
}

/*Footer flex*/
.footer-flex {
	display: flex;
	margin-top: 68px;
}

/*Social button*/
.our-contacts-list {
	display: flex;
	flex-wrap: wrap;
	margin-right: 140px;
}

.our-contacts-item:not(:last-child) {
	margin-right: 9px;
}

.our-contacts-item {
	position: relative;
}

.social-button {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: var(--lite-white-grey-button);
}

.vk-logo::after {
	content: "";
	position: absolute;
	width: 26px;
	height: 15px;
	top: 32px;
	left: 26px;
	background-image: url(../img/vk-button.svg);
}

.facebook-logo::after {
	content: "";
	position: absolute;
	width: 12px;
	height: 22px;
	top: 29px;
	left: 34px;
	background-image: url(../img/facebook-button.svg);
}

.instagram-logo::after {
	content: "";
	position: absolute;
	width: 21px;
	height: 21px;
	top: 30px;
	left: 29px;
	background-image: url(../img/instagram-button.svg);
}

.social-button:hover {
	background-color: var(--red);
}

.social-button:active {
	background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.vk-logo:active::after,
.facebook-logo:active::after,
.instagram-logo:active::after {
	opacity: 0.3;
}

/*Footer captions*/
.footer-caption-friendship {
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
	color: var(--black);
	margin: 0;
}

.footer-caption-discount {
	font-size: 16px;
	line-height: 22px;
	color: var(--darker-grey);
	margin: 0;
	margin-top: 16px;
}

/*Modal*/
.modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	width: 960px;
	padding: 63px 100px 84px;
	background-color: var(--white);
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
	z-index: 4;
}

.modal-current {
	display: block;
}

.modal-form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: min-content 1fr min-content;
	gap: 34px 40px;
}

.modal-textarea {
	grid-column: 1 / -1;
}

.modal-form label {
	display: grid;
	gap: 9px;
}

.modal-caption {
	position: relative;
	font-weight: 700;
	font-size: 45px;
	line-height: 53px;
	color: var(--black);
	margin: 0;
	margin-bottom: 37px;
}

.modal-text {
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	color: var(--black);
}

.modal-input {
	padding: 17px 16px;
	border: 2px solid var(--lite-white-grey);
	border-radius: 3px;
}

.modal-button {
	background-color: var(--red);
	width: 259px;
	height: 50px;
	padding: 17px 83px;
	border-radius: 3px;
	border: none;
	margin-top: 15px;
	cursor: pointer;
}

.modal-close {
	position: absolute;
	left: 848px;
	top: 75px;
	width: 21px;
	height: 21px;
	border: none;
	background-color: transparent;
	background-image: url(../img/popup-close.svg);
	opacity: 0.3;
	cursor: pointer;
}

.modal-close:hover {
	opacity: 1;
}

.modal-close:active {
	opacity: 0.1;
}
